@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the TaxiApp</h1>
    <!-- Add a class to your image for styling -->
    <img src="~/images/Distance.jpg" class="responsive-image" />
</div>

<style>
    /* Add CSS to make the image responsive */
    .responsive-image {
        max-width: 100%; /* Maximum width of the image is 100% of the container */
        height: auto; /* Height is set to auto to maintain aspect ratio */
        display: block; /* Display block to remove any extra space below the image */
        margin: 0 auto; /* Center the image within the container */
    }
</style>
 