@model ClientTaxiApp.Models.MarshalViewModels

@{
    ViewData["Title"] = "MarshalPut";
}

<h1>Marshal List</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MarshalPut">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MarshalName" class="control-label"></label>
                <input asp-for="MarshalName" class="form-control" />
                <span asp-validation-for="MarshalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarshalSurname" class="control-label"></label>
                <input asp-for="MarshalSurname" class="form-control" />
                <span asp-validation-for="MarshalSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary m-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success m-3">Back to List</a>
</div>

