@model ClientTaxiApp.Models.DriverDelViewModel

@{
    ViewData["Title"] = "DriverDelPut";
}

<h1>DriverDelPut</h1>

<h4>Driver Delete </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DriverDelPut">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeleteDate" class="control-label"></label>
                <input asp-for="DeleteDate" class="form-control" />
                <span asp-validation-for="DeleteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <input asp-for="DriverId" class="form-control" />
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary m-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DriverDelIndex" class="btn btn-success m-3">Back to List</a>
</div>

