@model ClientTaxiApp.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}
@if (!User.Identity.IsAuthenticated)
{

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/ClientTaxiApp.styles.css" asp-append-version="true" />
        <script src="https://kit.fontawesome.com/824f59c8d7.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <style>
            body {
                background-image: url("/images/Simphiwe.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            /* Media query for tablets */
            @@media only screen and (max-width: 1024px) {
                body {
                    background-position: top center;
                }
            }

            /* Media query for mobile devices */
            @@media only screen and (max-width: 768px) {
                body {
                    background-position: top center;
                }
            }

            /* Media query for smaller mobile devices */
            @@media only screen and (max-width: 480px) {
                body {
                    background-size: contain;
                    background-position: top center;
                }
            }
        </style>

    </body>
    </html>

    <form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data">

        <div class="d-flex justify-content-center">
            <div style="min-width: 400px;" class="card shadow-lg p-5">
                <h1 class="text-center display-6">Register your account</h1>
                <br />
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Enter email address" autocomplete="off" />
                </div>
                <span class="text-danger mb-3" asp-validation-for="Email"></span>

                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Enter UserName" autocomplete="off" />
                </div>
                <span class="text-danger mb-3" asp-validation-for="UserName"></span>

                <div class="form-group">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Your PhoneNumber" autocomplete="off" />
                </div>
                <span class="text-danger mb-3" asp-validation-for="PhoneNumber"></span>
                <br />
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Enter password" autocomplete="off" />
                </div>
                <span class="text-danger mb-3" asp-validation-for="Password"></span>

                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" autocomplete="off" />
                </div>
                <span class="text-danger mb-3" asp-validation-for="ConfirmPassword"></span>
                <br />
                <button class="btn btn-info" type="submit">Register</button>
                <br />
                <a class="btn btn-outline-danger" asp-action="Login">Go to login page</a>
            </div>
        </div>
    </form>
    <div>

    </div>
}