/* CSS outside of the media query applies to all screen sizes */
img.responsive-image {
    width: 100%;
    height: auto;
}

/* Media query for screens that are 600px or smaller */
@media only screen and (max-width: 600px) {
    img.responsive-image {
        /* Adjust the width and height as needed for smaller screens */
        width: 80%; /* Example: You might want the image to take up less width on small screens */
        height: auto; /* Maintain the aspect ratio */
        /* You can also add other styles like border, margin, etc., specific to small screens */
    }
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

